[submodule "mkdocs-material"]
	path = mkdocs-material
	url = https://git.charlesreid1.com/charlesreid1/mkdocs-material
[submodule "docs/fake-docs"]
	path = docs/fake-docs
	url = git@github.com:charlesreid1/fake-docs.git
